In [1]:
import  numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
%matplotlib inline

In [2]:
train_data =pd.read_csv("./train.csv")
test_data = pd.read_csv('./test.csv')

C:\Users\Administrator\AppData\Roaming\Python\Python37\site-packages\IPython\core\interactiveshell.py:3051: DtypeWarning: Columns (5,8,11,15) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
train_data.columns.to_list()

['fecha_dato',
 'ncodpers',
 'ind_empleado',
 'pais_residencia',
 'sexo',
 'age',
 'fecha_alta',
 'ind_nuevo',
 'antiguedad',
 'indrel',
 'ult_fec_cli_1t',
 'indrel_1mes',
 'tiprel_1mes',
 'indresi',
 'indext',
 'conyuemp',
 'canal_entrada',
 'indfall',
 'tipodom',
 'cod_prov',
 'nomprov',
 'ind_actividad_cliente',
 'renta',
 'segmento',
 'ind_ahor_fin_ult1',
 'ind_aval_fin_ult1',
 'ind_cco_fin_ult1',
 'ind_cder_fin_ult1',
 'ind_cno_fin_ult1',
 'ind_ctju_fin_ult1',
 'ind_ctma_fin_ult1',
 'ind_ctop_fin_ult1',
 'ind_ctpp_fin_ult1',
 'ind_deco_fin_ult1',
 'ind_deme_fin_ult1',
 'ind_dela_fin_ult1',
 'ind_ecue_fin_ult1',
 'ind_fond_fin_ult1',
 'ind_hip_fin_ult1',
 'ind_plan_fin_ult1',
 'ind_pres_fin_ult1',
 'ind_reca_fin_ult1',
 'ind_tjcr_fin_ult1',
 'ind_valo_fin_ult1',
 'ind_viv_fin_ult1',
 'ind_nomina_ult1',
 'ind_nom_pens_ult1',
 'ind_recibo_ult1']

In [4]:
test_data.columns.to_list()

['fecha_dato',
 'ncodpers',
 'ind_empleado',
 'pais_residencia',
 'sexo',
 'age',
 'fecha_alta',
 'ind_nuevo',
 'antiguedad',
 'indrel',
 'ult_fec_cli_1t',
 'indrel_1mes',
 'tiprel_1mes',
 'indresi',
 'indext',
 'conyuemp',
 'canal_entrada',
 'indfall',
 'tipodom',
 'cod_prov',
 'nomprov',
 'ind_actividad_cliente',
 'renta',
 'segmento']

###  24 种产品

In [5]:
for  feature in train_data.columns:
    print ( feature ," ==== > "  ,  train_data[feature].isnull().sum()/len(train_data))

fecha_dato  ==== >  0.0
ncodpers  ==== >  0.0
ind_empleado  ==== >  0.0021469921501770426
pais_residencia  ==== >  0.0021469921501770426
sexo  ==== >  0.0021469921501770426
age  ==== >  0.0
fecha_alta  ==== >  0.0021469921501770426
ind_nuevo  ==== >  0.0021469921501770426
antiguedad  ==== >  0.0
indrel  ==== >  0.0021469921501770426
ult_fec_cli_1t  ==== >  0.9982595499934429
indrel_1mes  ==== >  0.011521816512730203
tiprel_1mes  ==== >  0.011521816512730203
indresi  ==== >  0.0021469921501770426
indext  ==== >  0.0021469921501770426
conyuemp  ==== >  0.9999943796017011
canal_entrada  ==== >  0.014352623789272533
indfall  ==== >  0.0021469921501770426
tipodom  ==== >  0.0021469921501770426
cod_prov  ==== >  0.007061093729508965
nomprov  ==== >  0.007061093729508965
ind_actividad_cliente  ==== >  0.0021469921501770426
renta  ==== >  0.20012552222867527
segmento  ==== >  0.014579313187327875
ind_ahor_fin_ult1  ==== >  0.0
ind_aval_fin_ult1  ==== >  0.0
ind_cco_fin_ult1  ==== >  0.0
ind_cder_fin_ult1  ==== >  0.0
ind_cno_fin_ult1  ==== >  0.0
ind_ctju_fin_ult1  ==== >  0.0
ind_ctma_fin_ult1  ==== >  0.0
ind_ctop_fin_ult1  ==== >  0.0
ind_ctpp_fin_ult1  ==== >  0.0
ind_deco_fin_ult1  ==== >  0.0
ind_deme_fin_ult1  ==== >  0.0
ind_dela_fin_ult1  ==== >  0.0
ind_ecue_fin_ult1  ==== >  0.0
ind_fond_fin_ult1  ==== >  0.0
ind_hip_fin_ult1  ==== >  0.0
ind_plan_fin_ult1  ==== >  0.0
ind_pres_fin_ult1  ==== >  0.0
ind_reca_fin_ult1  ==== >  0.0
ind_tjcr_fin_ult1  ==== >  0.0
ind_valo_fin_ult1  ==== >  0.0
ind_viv_fin_ult1  ==== >  0.0
ind_nomina_ult1  ==== >  0.0013432751934353748
ind_nom_pens_ult1  ==== >  0.0013432751934353748
ind_recibo_ult1  ==== >  0.0

In [6]:
for  feature in test_data.columns:
    print ( feature ," ==== > "  ,  test_data[feature].isnull().sum()/len(test_data))

fecha_dato  ==== >  0.0
ncodpers  ==== >  0.0
ind_empleado  ==== >  0.0
pais_residencia  ==== >  0.0
sexo  ==== >  0.0
age  ==== >  0.0
fecha_alta  ==== >  0.0
ind_nuevo  ==== >  0.0
antiguedad  ==== >  0.0
indrel  ==== >  0.0
ult_fec_cli_1t  ==== >  0.9998971263973664
indrel_1mes  ==== >  0.0
tiprel_1mes  ==== >  0.0
indresi  ==== >  0.0
indext  ==== >  0.0
conyuemp  ==== >  1.0
canal_entrada  ==== >  6.858240175570949e-05
indfall  ==== >  0.0
tipodom  ==== >  0.0
cod_prov  ==== >  0.004766476922021809
nomprov  ==== >  0.004766476922021809
ind_actividad_cliente  ==== >  0.0
renta  ==== >  0.2317056443316645
segmento  ==== >  6.858240175570949e-05

##  drop feature : conyuemp  , ult_fec_cli_1t

In [7]:
train_data.drop( ["conyuemp" , "ult_fec_cli_1t"] ,axis =1 , inplace= True )
test_data.drop( ["conyuemp" , "ult_fec_cli_1t"] ,axis =1 , inplace= True )

In [8]:
### 类型查看

In [9]:
train_data.dtypes

fecha_dato                object
ncodpers                   int64
ind_empleado              object
pais_residencia           object
sexo                      object
age                       object
fecha_alta                object
ind_nuevo                float64
antiguedad                object
indrel                   float64
indrel_1mes               object
tiprel_1mes               object
indresi                   object
indext                    object
canal_entrada             object
indfall                   object
tipodom                  float64
cod_prov                 float64
nomprov                   object
ind_actividad_cliente    float64
renta                    float64
segmento                  object
ind_ahor_fin_ult1          int64
ind_aval_fin_ult1          int64
ind_cco_fin_ult1           int64
ind_cder_fin_ult1          int64
ind_cno_fin_ult1           int64
ind_ctju_fin_ult1          int64
ind_ctma_fin_ult1          int64
ind_ctop_fin_ult1          int64
ind_ctpp_fin_ult1          int64
ind_deco_fin_ult1          int64
ind_deme_fin_ult1          int64
ind_dela_fin_ult1          int64
ind_ecue_fin_ult1          int64
ind_fond_fin_ult1          int64
ind_hip_fin_ult1           int64
ind_plan_fin_ult1          int64
ind_pres_fin_ult1          int64
ind_reca_fin_ult1          int64
ind_tjcr_fin_ult1          int64
ind_valo_fin_ult1          int64
ind_viv_fin_ult1           int64
ind_nomina_ult1          float64
ind_nom_pens_ult1        float64
ind_recibo_ult1            int64
dtype: object

In [10]:
all_data =  pd.concat( [ train_data , test_data] , axis= 0 )

In [11]:
categorical_features = all_data.select_dtypes("object")
categorical_features

,fecha_dato,ind_empleado,pais_residencia,sexo,age,fecha_alta,antiguedad,indrel_1mes,tiprel_1mes,indresi,indext,canal_entrada,indfall,nomprov,segmento
0,2015-01-28,N,ES,V,31,2012-08-10,35,1,A,S,N,KFC,N,TOLEDO,02 - PARTICULARES
1,2015-01-28,N,ES,V,37,2012-08-10,35,1,A,S,N,KAT,N,MADRID,02 - PARTICULARES
2,2015-01-28,N,ES,H,31,2012-08-10,35,1,A,S,N,KFC,N,VALLADOLID,03 - UNIVERSITARIO
3,2015-01-28,N,ES,H,23,2012-08-10,35,1,A,S,N,KHE,N,BARCELONA,03 - UNIVERSITARIO
4,2015-01-28,N,ES,V,23,2012-08-10,35,1,A,S,N,KHE,N,CIUDAD REAL,03 - UNIVERSITARIO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29157,2016-05-28,N,ES,V,23,2013-08-14,33,1,A,S,N,KHE,N,ALICANTE,03 - UNIVERSITARIO
29158,2016-05-28,N,ES,V,27,2013-08-14,33,1,I,S,N,KHE,N,VALENCIA,03 - UNIVERSITARIO
29159,2016-05-28,N,ES,V,23,2013-08-14,33,1,A,S,N,KHE,N,ALICANTE,03 - UNIVERSITARIO
29160,2016-05-28,N,ES,H,23,2013-08-14,33,1,I,S,N,KHE,N,ALICANTE,03 - UNIVERSITARIO
29161,2016-05-28,N,ES,H,24,2013-08-14,33,1,I,S,N,KHE,N,ZARAGOZA,03 - UNIVERSITARIO

#### 需要进行转化 
+  age 年龄
+ antiguedad工龄

In [12]:
all_data.age.value_counts().index.to_list() #  kao

[23,
 22,
 24,
 21,
 20,
 25,
 26,
 ' 23',
 44,
 45,
 41,
 43,
 46,
 42,
 ' 22',
 47,
 ' 24',
 27,
 48,
 40,
 39,
 ' 21',
 49,
 28,
 50,
 38,
 37,
 51,
 29,
 52,
 53,
 36,
 30,
 35,
 ' 25',
 54,
 31,
 32,
 33,
 55,
 34,
 56,
 57,
 ' 26',
 58,
 ' 44',
 ' 45',
 ' 43',
 59,
 ' 41',
 ' 42',
 60,
 ' 46',
 ' 47',
 61,
 ' 40',
 ' 48',
 ' 39',
 ' 27',
 62,
 ' 49',
 63,
 ' 28',
 ' 50',
 ' 38',
 64,
 ' 37',
 65,
 ' 52',
 ' 51',
 66,
 ' 53',
 ' 36',
 ' 29',
 68,
 67,
 70,
 ' 54',
 69,
 ' 35',
 ' 20',
 ' 31',
 73,
 ' 55',
 ' 30',
 ' 32',
 72,
 ' 56',
 ' 34',
 ' 57',
 ' 33',
 71,
 ' 59',
 74,
 ' 58',
 77,
 75,
 ' 60',
 ' 61',
 76,
 81,
 ' 62',
 ' 64',
 ' NA',
 ' 63',
 82,
 78,
 ' 65',
 83,
 ' 66',
 79,
 80,
 ' 68',
 ' 67',
 84,
 ' 69',
 ' 71',
 ' 72',
 ' 70',
 19,
 85,
 ' 73',
 88,
 ' 77',
 ' 74',
 90,
 89,
 87,
 ' 75',
 86,
 ' 76',
 91,
 ' 82',
 ' 80',
 ' 81',
 92,
 ' 79',
 15,
 13,
 ' 83',
 ' 78',
 12,
 14,
 93,
 ' 84',
 17,
 18,
 ' 85',
 16,
 ' 88',
 95,
 94,
 ' 87',
 11,
 ' 89',
 ' 86',
 ' 90',
 '41',
 ' 91',
 '43',
 96,
 '44',
 '39',
 ' 15',
 ' 12',
 '42',
 ' 13',
 '45',
 '40',
 '38',
 ' 19',
 ' 11',
 '37',
 ' 17',
 ' 14',
 '47',
 9,
 '46',
 10,
 '48',
 '36',
 '49',
 ' 94',
 97,
 '50',
 '51',
 ' 92',
 8,
 ' 16',
 '52',
 ' 93',
 ' 18',
 '35',
 ' 95',
 ' 10',
 '56',
 '54',
 '53',
 '55',
 '  9',
 4,
 98,
 '33',
 '34',
 ' 96',
 '59',
 5,
 '61',
 6,
 '57',
 '62',
 '58',
 99,
 '31',
 '60',
 101,
 '32',
 '64',
 100,
 '  8',
 '68',
 '71',
 '63',
 '65',
 '67',
 '66',
 103,
 '70',
 '69',
 '30',
 7,
 '73',
 3,
 '29',
 '72',
 105,
 '77',
 ' 97',
 107,
 '75',
 ' 98',
 '  7',
 104,
 '76',
 102,
 '  6',
 '  3',
 '100',
 '  4',
 '74',
 '12',
 '80',
 '81',
 '13',
 2,
 108,
 '  5',
 110,
 '28',
 '11',
 '78',
 '107',
 '101',
 '84',
 '82',
 106,
 '25',
 '85',
 '24',
 '83',
 '19',
 ' 99',
 '79',
 '102',
 '86',
 '14',
 '105',
 '90',
 '87',
 '91',
 '23',
 '26',
 '27',
 '17',
 '18',
 '88',
 '10',
 '89',
 '20',
 '95',
 '16',
 '104',
 '96',
 '22',
 '15',
 '21',
 '93',
 '106',
 '110',
 113,
 '  2',
 '92',
 '94',
 114,
 '9',
 111,
 '98',
 '8',
 '97']

In [13]:
all_data.age = all_data.age.str.strip().replace(" " ,"")

In [14]:
all_data.loc[all_data.age == 'NA' ,"age"].count()

1146

In [15]:
all_data.loc[all_data.age == 'NA' ,"age"] = '23'
all_data.age.fillna( '23' , inplace= True )

In [16]:
all_data.antiguedad = all_data.antiguedad.str.strip().replace(" " ,"")

In [17]:
all_data.antiguedad.value_counts()

21     4973
12     4680
10     4296
33     3906
9      3539
       ...
244      12
243      12
245       6
246       6
0         2
Name: antiguedad, Length: 248, dtype: int64

In [18]:
all_data.loc[all_data.antiguedad == 'NA' ,"antiguedad"] = '21'
all_data.antiguedad.fillna('21' ,inplace= True  )

In [19]:
all_data.age = pd.to_numeric(all_data.age).astype('int16')
all_data.antiguedad = pd.to_numeric(all_data.antiguedad).astype('int16')

In [20]:
categorical_features = all_data.select_dtypes("object").columns
categorical_features

Index(['fecha_dato', 'ind_empleado', 'pais_residencia', 'sexo', 'fecha_alta',
       'indrel_1mes', 'tiprel_1mes', 'indresi', 'indext', 'canal_entrada',
       'indfall', 'nomprov', 'segmento'],
      dtype='object')

In [21]:
for  categorical_feature in categorical_features:
    print (categorical_feature  ,"== > " ,  all_data[categorical_feature].nunique() )

fecha_dato == >  17
ind_empleado == >  5
pais_residencia == >  43
sexo == >  2
fecha_alta == >  5668
indrel_1mes == >  13
tiprel_1mes == >  4
indresi == >  2
indext == >  2
canal_entrada == >  135
indfall == >  2
nomprov == >  52
segmento == >  3

In [22]:
all_data.fecha_alta.value_counts()

2014-07-28    2263
2014-10-03    2222
2013-10-14    2180
2014-08-04    2017
2013-08-03    1451
              ...
2016-04-17       3
2006-02-04       2
2016-02-28       2
2016-04-24       2
2016-04-03       1
Name: fecha_alta, Length: 5668, dtype: int64

In [23]:
all_data.fecha_alta.fillna("2014-07-28" , inplace= True )

In [24]:
all_data.pais_residencia.fillna('ES',inplace=True)

In [25]:
for categorical_feature  in categorical_features :
    mode= all_data[categorical_feature].value_counts().index[0]
    all_data[categorical_feature].fillna( mode , inplace= True )

In [26]:
all_data.isna().sum()

fecha_dato                    0
ncodpers                      0
ind_empleado                  0
pais_residencia               0
sexo                          0
age                           0
fecha_alta                    0
ind_nuevo                  1146
antiguedad                    0
indrel                     1146
indrel_1mes                   0
tiprel_1mes                   0
indresi                       0
indext                        0
canal_entrada                 0
indfall                       0
tipodom                    1146
cod_prov                   3908
nomprov                       0
ind_actividad_cliente      1146
renta                    113578
segmento                      0
ind_ahor_fin_ult1         29162
ind_aval_fin_ult1         29162
ind_cco_fin_ult1          29162
ind_cder_fin_ult1         29162
ind_cno_fin_ult1          29162
ind_ctju_fin_ult1         29162
ind_ctma_fin_ult1         29162
ind_ctop_fin_ult1         29162
ind_ctpp_fin_ult1         29162
ind_deco_fin_ult1         29162
ind_deme_fin_ult1         29162
ind_dela_fin_ult1         29162
ind_ecue_fin_ult1         29162
ind_fond_fin_ult1         29162
ind_hip_fin_ult1          29162
ind_plan_fin_ult1         29162
ind_pres_fin_ult1         29162
ind_reca_fin_ult1         29162
ind_tjcr_fin_ult1         29162
ind_valo_fin_ult1         29162
ind_viv_fin_ult1          29162
ind_nomina_ult1           29879
ind_nom_pens_ult1         29879
ind_recibo_ult1           29162
dtype: int64

In [27]:
all_data.ind_nuevo.fillna(0. ,inplace= True)

In [28]:
all_data.ind_nuevo = all_data.ind_nuevo.map( {0.0 : 0 , 1.0 :1})

In [29]:
all_data.indrel.value_counts()

1.0     560854
99.0       932
Name: indrel, dtype: int64

In [30]:
all_data.indrel.fillna(1. ,inplace= True)
all_data.indrel = all_data.indrel.map( {1.0 : 0 , 99.0 :1})

In [31]:
all_data.drop('tipodom' ,axis =1  ,inplace= True)

In [32]:
all_data.drop('cod_prov' ,axis =1  ,inplace= True)

In [33]:
all_data.ind_actividad_cliente.value_counts()

0.0    301084
1.0    260702
Name: ind_actividad_cliente, dtype: int64

In [34]:
all_data.ind_actividad_cliente.fillna(0. , inplace= True)

In [35]:
all_data.renta.fillna(all_data.renta.mean() ,inplace= True )

In [36]:
all_data.isna().sum()

fecha_dato                   0
ncodpers                     0
ind_empleado                 0
pais_residencia              0
sexo                         0
age                          0
fecha_alta                   0
ind_nuevo                    0
antiguedad                   0
indrel                       0
indrel_1mes                  0
tiprel_1mes                  0
indresi                      0
indext                       0
canal_entrada                0
indfall                      0
nomprov                      0
ind_actividad_cliente        0
renta                        0
segmento                     0
ind_ahor_fin_ult1        29162
ind_aval_fin_ult1        29162
ind_cco_fin_ult1         29162
ind_cder_fin_ult1        29162
ind_cno_fin_ult1         29162
ind_ctju_fin_ult1        29162
ind_ctma_fin_ult1        29162
ind_ctop_fin_ult1        29162
ind_ctpp_fin_ult1        29162
ind_deco_fin_ult1        29162
ind_deme_fin_ult1        29162
ind_dela_fin_ult1        29162
ind_ecue_fin_ult1        29162
ind_fond_fin_ult1        29162
ind_hip_fin_ult1         29162
ind_plan_fin_ult1        29162
ind_pres_fin_ult1        29162
ind_reca_fin_ult1        29162
ind_tjcr_fin_ult1        29162
ind_valo_fin_ult1        29162
ind_viv_fin_ult1         29162
ind_nomina_ult1          29879
ind_nom_pens_ult1        29879
ind_recibo_ult1          29162
dtype: int64

In [37]:
all_data.fecha_alta = pd.to_datetime(all_data.fecha_alta)
all_data.fecha_alta

0       2012-08-10
1       2012-08-10
2       2012-08-10
3       2012-08-10
4       2012-08-10
           ...
29157   2013-08-14
29158   2013-08-14
29159   2013-08-14
29160   2013-08-14
29161   2013-08-14
Name: fecha_alta, Length: 562932, dtype: datetime64[ns]

In [38]:
all_data['fecha_alta_year']  = all_data['fecha_alta'].dt.year

In [39]:
all_data['fecha_alta_month']  = all_data['fecha_alta'].dt.month

In [40]:
all_data['fecha_alta_day']  = all_data['fecha_alta'].dt.day

In [41]:
from datetime import  datetime 
all_data['fecha_alta_weekday'] = all_data['fecha_alta'].apply(datetime.weekday  )

In [42]:
all_data.fecha_dato = pd.to_datetime(all_data.fecha_dato)
all_data['fecha_dato_year']  = all_data['fecha_dato'].dt.year
all_data['fecha_dato_month']  = all_data['fecha_dato'].dt.month
all_data['fecha_dato_day']  = all_data['fecha_dato'].dt.day
all_data['fecha_dato_weekday'] = all_data['fecha_dato'].apply(datetime.weekday)

In [43]:
all_data.loc[all_data.indrel_1mes == 'P' ,'indrel_1mes'] = '5.0'
all_data.indrel_1mes = pd.to_numeric(all_data.indrel_1mes , errors='coerce')

In [44]:
from sklearn.preprocessing import LabelEncoder 
encoder = LabelEncoder()
for categorical_feature  in categorical_features :
    try:
        all_data[categorical_feature] = encoder.fit_transform(
            all_data[categorical_feature])
    except Exception as  e:
        print (categorical_feature)
        print (e)

In [45]:
all_data.dtypes

fecha_dato                 int64
ncodpers                   int64
ind_empleado               int32
pais_residencia            int32
sexo                       int32
age                        int16
fecha_alta                 int64
ind_nuevo                  int64
antiguedad                 int16
indrel                     int64
indrel_1mes                int64
tiprel_1mes                int32
indresi                    int32
indext                     int32
canal_entrada              int32
indfall                    int32
nomprov                    int32
ind_actividad_cliente    float64
renta                    float64
segmento                   int32
ind_ahor_fin_ult1        float64
ind_aval_fin_ult1        float64
ind_cco_fin_ult1         float64
ind_cder_fin_ult1        float64
ind_cno_fin_ult1         float64
ind_ctju_fin_ult1        float64
ind_ctma_fin_ult1        float64
ind_ctop_fin_ult1        float64
ind_ctpp_fin_ult1        float64
ind_deco_fin_ult1        float64
ind_deme_fin_ult1        float64
ind_dela_fin_ult1        float64
ind_ecue_fin_ult1        float64
ind_fond_fin_ult1        float64
ind_hip_fin_ult1         float64
ind_plan_fin_ult1        float64
ind_pres_fin_ult1        float64
ind_reca_fin_ult1        float64
ind_tjcr_fin_ult1        float64
ind_valo_fin_ult1        float64
ind_viv_fin_ult1         float64
ind_nomina_ult1          float64
ind_nom_pens_ult1        float64
ind_recibo_ult1          float64
fecha_alta_year            int64
fecha_alta_month           int64
fecha_alta_day             int64
fecha_alta_weekday         int64
fecha_dato_year            int64
fecha_dato_month           int64
fecha_dato_day             int64
fecha_dato_weekday         int64
dtype: object

In [46]:
all_data.to_csv("processed.csv" , index= False  )

In [48]:
labels = [ 
    'ind_ahor_fin_ult1',
     'ind_aval_fin_ult1',
     'ind_cco_fin_ult1',
     'ind_cder_fin_ult1',
     'ind_cno_fin_ult1',
     'ind_ctju_fin_ult1',
     'ind_ctma_fin_ult1',
     'ind_ctop_fin_ult1',
     'ind_ctpp_fin_ult1',
     'ind_deco_fin_ult1',
     'ind_deme_fin_ult1',
     'ind_dela_fin_ult1',
     'ind_ecue_fin_ult1',
     'ind_fond_fin_ult1',
     'ind_hip_fin_ult1',
     'ind_plan_fin_ult1',
     'ind_pres_fin_ult1',
     'ind_reca_fin_ult1',
     'ind_tjcr_fin_ult1',
     'ind_valo_fin_ult1',
     'ind_viv_fin_ult1',
     'ind_nomina_ult1',
     'ind_nom_pens_ult1',
     'ind_recibo_ult1'] 

features = [  feature  for  feature in all_data.columns.to_list() if feature not in labels ]
features

['fecha_dato',
 'ncodpers',
 'ind_empleado',
 'pais_residencia',
 'sexo',
 'age',
 'fecha_alta',
 'ind_nuevo',
 'antiguedad',
 'indrel',
 'indrel_1mes',
 'tiprel_1mes',
 'indresi',
 'indext',
 'canal_entrada',
 'indfall',
 'nomprov',
 'ind_actividad_cliente',
 'renta',
 'segmento',
 'fecha_alta_year',
 'fecha_alta_month',
 'fecha_alta_day',
 'fecha_alta_weekday',
 'fecha_dato_year',
 'fecha_dato_month',
 'fecha_dato_day',
 'fecha_dato_weekday']

In [51]:
columns = all_data.columns.to_list()
feature_indices = [columns.index( feature) for feature in features ]
label_indices = [columns.index( feature) for feature in labels  ]
X_train = all_data.iloc[0: len(train_data) , feature_indices ]
y_train  = all_data.iloc[0: len(train_data) , label_indices ]
X_test = all_data.iloc[len(train_data): , feature_indices ]

X_train.to_csv( 'x-train.csv' , index = False )
y_train.to_csv("y_train.csv" , index = False )
x_test.to_csv("x_test.csv"  , index = False)